<?xml version="1.0"?>
<packages>
	<package id="aimp" />
	<package id="mpc-be" />
	<package id="itunes" />
	<package id="vim" />
	<package id="googlechrome" />
	<package id="vlc" />
	<package id="jdk8" />
	<package id="vim" />
	<package id="geekuninstaller" />
	<package id="tor-browser" />
	<package id="python" />
	<package id="7zip" />
</packages>
